@import "../../../styles/mixins/color.scss";
@import "../../../styles/mixins/breakpoint.scss";
@import "../../../styles/mixins/typography.scss";

.sparkle-story-banner {
    .container{
        margin-top: 55px;

    }
    background-color: $green;
    padding: 120px 0;
    @include breakpoint("max-sm") {
        padding: 40px 0;
    }
    .sparkle-text {
        h1 {
            @include heading-1;
            text-align: center;
            color: $white;
            line-height:60px;
            font-weight: 800 !important;
            margin-bottom: 1.85rem;
            @include breakpoint("max-md") {
                margin-bottom: 0;
            }
            @include breakpoint("max-sm") {
                @include heading-2;
                margin-bottom: 0;
            }
        }
        br {
            @include breakpoint("max-md") {
                display: none;
            }
        }
        p {
            @include text-md;
            color: $white;
            font-weight: 400;
            // margin-bottom: 40px;
            margin: 0;
            text-align: center;
            @include breakpoint("max-md") {
                margin-top: 1.85rem;
            }
            @include breakpoint("max-sm") {
                @include text-md;
                margin-top:1.25rem;
            }
        }
    }
    .grid {
        display: grid;
        margin-top: 60px;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        width: 78%;
        @include breakpoint("max-sm") {
            margin-top: 40px;
        }
        .grid-items {
            .form-box {
                background-color: $white;
                padding: 121px;
                width: 100%;
                border-radius: 50px;
                @include breakpoint("max-md") {
                    padding: 50px;
                }
                @include breakpoint("max-sm") {
                    padding: 25px;
                    border-radius: 6px;
                }

                .error-msg {
                    height: 1rem;
                    font-size: 0.85rem;
                    margin-top: 0.25rem;
                    color: #ff5252;
                }

                .required {
                    color: #ff5252;
                }

                .form-grid-items-text-area {
                    display: grid;
                    margin-top: 2rem;
                    grid-template-columns: repeat(1, 1fr);
                    textarea {
                        background-color: $dark;
                        width: 100%;
                        padding: 1rem 0.75rem;
                        display: block;
                        color: #323232;
                        border: none;
                        height: 230px;
                        @include text;
                        @include breakpoint("max-sm") {
                            height: 80px;
                            @include text-bold;
                        }
                        &:focus {
                            outline: none;
                            border: none;
                        }
                    }
                    ::placeholder {
                        color: #b2b2b2 !important;
                        @include breakpoint("max-sm") {
                            font-size: 12px;
                        }
                    }
                    label {
                        display: block;
                        @include heading-3;
                        font-weight: 400;
                        font-size: 16px;
                        position: relative;
                        margin: 0;
                        margin-bottom: 15px;
                        @include breakpoint("max-sm") {
                            @include text-bold;
                            margin-bottom: 10px;
                        }
                    }
                }
                .form-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0 50px;
                    justify-content: space-between;
                    @include breakpoint("max-sm") {
                        grid-template-columns: repeat(1 , 1fr);
                    }

                    &.margin-top {
                        margin-top: 2rem;
                    }
                    .form-grid-items {
                        label {
                            display: block;
                            @include heading-3;
                            font-weight: 400;
                            font-size: 16px;
                            color: #323232;
                            position: relative;
                            margin: 0;
                            margin-bottom: 10px;
                            @include breakpoint("max-sm") {
                                @include text-bold;
                                margin-bottom: 10px;
                            }
                        } 
                        input {
                            background-color: $dark;
                            height: 60px;
                            width: 100%;
                            padding: 0.375rem 0.75rem;
                            display: block;
                            border: none;
                            @include text;
                            @include breakpoint("max-sm") {
                                height: 40px;
                                @include text;
                            }
                            &:focus {
                                border: none;
                                outline: none;
                            }
              
                        }
                        
                        select {
                            background-color: $dark;
                            height: 60px;
                            width: 100%;
                            padding: 0.375rem 0.75rem;
                            display: block;
                            border: none;
                            @include text;
                            font-weight: 400;
                            @include breakpoint("max-sm") {
                                height: 50px;
                            }
                            &:focus {
                                border: none;
                                outline: none;
                            }
                        }
                        ::placeholder {
                            color: #b2b2b2;
                            @include breakpoint("max-sm") {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .darg-box-img {
                    margin-top: 58px;
                    border: 2px dashed #dadada;
                    height: 100px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    @include breakpoint("max-sm") {
                        margin-top: 20px;
                    }
                    p {
                        color: $black;
                        @include heading-4;
                        font-size: 16px;
                        text-align: center;
                        font-weight: 400;
                        @include breakpoint("max-sm") {
                            @include text;
                        }
                    }
                    span {
                        font-weight: 600;
                    }
                    .file-input {
                        display: none;
                    }
                    .file-name {
                        margin-top: 0.25rem;
                        display: block;
                        font-size: 0.85rem;
                    }
                }
                .terms-conditions {
                    margin-bottom: 10px;
                    margin-top: 2rem;
                    text-align: center;
                    display: flex;
                    justify-content: center;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include breakpoint("max-sm") {
                            align-items: inherit;
                        }

                        input[type="checkbox"] {
                            width: 20px;
                            margin: 0;
                            height: 20px;
                            border: 1px solid $black;
                            @include breakpoint("max-sm") {
                                width: 20px;
                                height: 20px;   
                            }
                        }
                        label {
                            @include text-md;
                            font-size: 16px;
                            display: block;
                           
                            padding-left: 1.25rem;
                            @include breakpoint("max-sm") {
                                @include text-sm;
                            }
                        }
                        p {
                           @include breakpoint("max-sm") {
                            @include text-sm;
                            font-size: 12px;
                            text-align: left;
                            padding-left: 10px;
                            padding-left: .5rem;

                           }
                        }
                        span {
                            font-weight: 500;
                            text-decoration: underline;
                        }
                    }
                }
                .submit-button {
                    display: flex;
                    justify-content: center;
                    button {
                        padding: 8px 15px;
                        background-color: $blue;
                        @include heading-4;
                        font-size: 18px;
                        color: $white;
                        min-width: 190px;
                        height: 50px;
                        letter-spacing: 3px;
                        font-weight: 600;
                        border: none;
                        border-radius: 999px;
                        @include breakpoint("max-sm") {
                            height: 50px;
                            @include text-md;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}


.final-register-box {
    background-color: #fff;
    padding: 160px 80px;
    width: 100%;
    border-radius: 50px;
    @include breakpoint("max-md") {
        padding: 50px;
    }
    @include breakpoint("max-sm") {
        padding: 25px;
        border-radius: 6px;
    }
    .text-style {
        h1 {
            //@include heading-large;
            color: #00BCDF;
            margin-bottom: 1.25rem;
            font-family: 'montserrat';
            text-align: center;
            font-size : 40px;
            @include breakpoint("max-md") {
                @include heading-2;
                line-height: 45px
            }
            @include breakpoint("max-sm") {
                @include text-md;
                font-weight: 600 !important;
                line-height: 30px;
            }
            br {
                @include breakpoint("max-sm") {
                    display: none;
                }
            }
        }
        .child-text-align {
            margin-top: 50px;
            @include breakpoint("max-sm") {
                margin-top: 30px;
            }
            p {
                font-size: 16px;
                color: #323232;
                font-weight: 400;
                @include breakpoint("max-sm") {
                    @include text-sm;
                    line-height:25px;
                }
                br {
                    @include breakpoint("max-sm") {
                        display: none;
                    }
                }
            }
        }
        .join-button {
            display: flex;
            justify-content: center ;
            margin-top: 40px;
            
            button {
                padding: 8px 15px;
                background-color: $yellow;
                cursor: pointer;
                @include heading-4;
                font-size: 18px;
                color: $white;
                min-width: 190px;
                height: 50px;
                letter-spacing: 3px;
                font-weight: 600;
                border: none;
                border-radius: 999px;
                @include breakpoint("max-sm") {
                    height: 50px;
                    @include text-md;
                    font-weight: 600;
                }
            }
        }
        p {
            @include heading-3;
            font-size: 16px;
            font-weight: 400;
            
            margin-bottom: 19px;
            font-weight: 600;
            text-align: center;
            color: #000000;
            @include breakpoint("max-md") {
                margin-bottom: 0px;
            }
            @include breakpoint("max-sm") {
                @include text-sm;
                margin-bottom: 10px;
            }
        }
        h6 {
            @include heading-3;
            text-decoration: underline;
            color: #000;
            text-decoration-skip: unset;
            text-align: center;
            font-weight: 400;
            cursor: pointer;
            transition: .3s;
            @include breakpoint("max-md") {
                margin-top: 1.25rem;
            }
            @include breakpoint("max-sm") {
                @include text-bold;
            }
            &:hover {
                transform: translate(0 , -3px);
            }
        }
    }
}

@media (min-width:900px) and (max-width:1440px) {
    .sparkle-story-banner .sparkle-text h1 {
        @include heading-1;
        br {
            display: none;
        }
    }
    .sparkle-story-banner {
        padding: 40px 0;
    }
    .sparkle-story-banner .grid {
        margin-top: 40px;
    }
    .sparkle-story-banner .grid .grid-items .form-box {
        padding: 50px;
    }
    .sparkle-story-banner .grid .grid-items .form-box .darg-box-img {
        margin-top: 30px;
    }
    .sparkle-story-banner .grid .grid-items .form-box .form-grid.margin-top {
        margin-top: 0;
    }
    .sparkle-story-banner .sparkle-text h1 {
        margin-bottom: -20px;
        font-size: 53px;
    }
    .sparkle-story-banner .sparkle-text p {
        margin-top: 1.85rem;
    }
}


.terams{
    cursor: pointer;
}


.tncterms{
    font-size: 21px;
}


.checkbox{
    margin-bottom:auto;
}

.box-center-alignment {
    display: flex;
    justify-content: center;
}
.terms-grid-align {
    max-width: 650px;
}
.terms-grid-align {
    p {
        padding-left: 10px;
        text-align: left;
    }
}
.message-center-align {
    text-align: center;
    margin-bottom: 1rem;

}
@include breakpoint("max-sm") {
.sparkle-reward-banner .reward-text span {
    font-size: 25px !important;
    position: relative;
    top: -6px !important;
    left: 5px !important;
}
}