@import '../../../styles/mixins/typography.scss';
@import '../../../styles/mixins/color.scss';
@import '../../../styles/mixins/breakpoint.scss';

.sparkle-gallery-banner {
    background-color: #662e67;
    padding: 60px 0;
    .gallery-img-align {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        img {
            margin-top: 40px;
            height: 170px;
            width: 550px;
            @include breakpoint("max-sm") {
                height: 105px;
                width: 100%;
            }
        }
    }
    .box-grid {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 20px;
        justify-content: space-between;
        @include breakpoint("max-md") {
            grid-template-columns: repeat(2 , 1fr);
            gap: 30px;
        }
        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1 , 1fr);
            gap: 20px;
        }
        .box-grid-items {
            // background-color: $white;
            position: relative;
            overflow: hidden;
            img {
                height: 400px;
                object-fit: cover;
                width: 100%;
                @include breakpoint("max-md") {
                    height: 300px;
                }
                @include breakpoint("max-sm") {
                    height: 300px;
                    width: 100%;
                }
            }
            video {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
        }
    }
}
.pagination {
    display: flex;
    align-items: center;
    margin: 80px 0;
    justify-content: center;
    @include breakpoint("max-sm") {
        margin: 30px 0;
    }
    .pagination-button {
        width: 20px;
        margin-right: 40px;
        height: 20px;
        background-color: #d04389;
        border-radius: 50%;
        @include breakpoint("max-sm") {
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
        .pagination-button:last-child {
            margin-right: 0;
        }
    }
    .pagination-active {
        background-color: $white;
    }
}
.share-story p {
    color: $white;
    @include heading-2;
    text-decoration: underline;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    @include breakpoint("max-sm") {
        @include text-md;
    }
}
.modal-text {
    text-align: center;
}

.modal {
    width: 75%;
    height: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    z-index: 9999999;
    left: 50%;
    transform: translateX(-50%);
    // background-color: rgba(0,0,0,0.3);
}
.modal-video {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}

.modal-body {
    width: 100%;
    height: 700px;
    background-color: #fff;
    @include breakpoint("max-sm") {
        width: calc(100vw - 56px);
        height: auto;
        min-height: auto;
        overflow: scroll;
    }
}
.modal-body-video {
    width: 72%;
    height: 500px;
    background-color: #fff;
    @include breakpoint("max-sm") {
        width: calc(100vw - 56px);
        height: auto;
        min-height: auto;
        overflow: scroll;
    }
}
.modal-grid {
    display: grid;
    grid-template-columns: minmax(0 , 1fr) 500px;
    min-height: 250px;
    max-height: 600px;
    justify-content: space-between;
    gap: 0 0px;
    @include breakpoint("max-sm") {
        grid-template-columns: repeat(1 , 1fr);
    }
    .modal-grid-items:nth-child(2) {
    
        position: relative;
        padding: 30px 40px 30px 70px;
        @include breakpoint("max-sm") {
            padding: 15px;
        }
    }
    .modal-grid-items {
        .modal-main-img {
            display: flex;
            align-items: center;
            height: 700px;
            background-color: #000;
            img {
            height: 700px;
            width: 100%;
            object-fit: cover;
            @include breakpoint("max-sm") {
                height: 280px;
            }
            }
            video {
                width: 100%;
                height: 533px;
                object-fit: cover;
            }
        }
        .modal-text-style {
            // padding-right: 3rem;
            @include breakpoint("max-sm") {
                padding: 15px;
            }
            p {
                word-break: word-break;
                margin-bottom: 2rem;
                color: #593561;
                @include text-md;
                @include breakpoint("max-sm") {
                    @include text;
                }
                font-family: 'montserrat', sans-serif;
                font-weight: 410;
            }

        }
    }
}
.close-icon-add {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    color: #d04389;
    font-weight: bold;
    @include breakpoint("max-sm") {
        display: none;
    }
}

// .next-btn {
//     position: absolute;
//     top: 25px;
//     right: 25px;
//     cursor: pointer;
// }

// .prev-btn {
//     position: absolute;
//     top: 25px;
//     left: 25px;
//     cursor: pointer;
//  }


.modal-relative {
    position: relative;
}

.next-button-alignment-top {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    left: -45px;
    justify-content: center;
    img {
        width: 45px;
        height: 45px;
        @include breakpoint("max-sm") {
            width: 20px;
            height: 20px;
            margin-left: -6px;
        }
    }
    @include breakpoint("max-sm") {
        width: 40px;
        height: 40px;
        background: #662e67;
        box-shadow: 0 0 15px #00000078;
        left: 0;
        z-index: 999999;
    }
}
.next-button-alignment {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -85px;
    img {
        width: 45px;
        height: 45px;
        @include breakpoint("max-sm") {
            width: 20px;
            height: 20px;
        }
    }

    @include breakpoint("max-sm") {
        width: 40px;
        height: 40px;
        right: -35px;
        background: #662e67;
        box-shadow: 0 0 15px #00000078;
        z-index: 999999;
    }
}

.mobile-view-close {
    position: fixed;
    right: 40px;
    display: none;
    font-weight: bold;
    margin-top: 5px;
    @include breakpoint("max-sm") {
        display: block;

    }
}
.modal-body-video .modal-grid .modal-grid-items:nth-child(2) {
    overflow: auto !important;
    height: 500px;
    overflow-x: hidden !important;
}

@media (min-width:768px) and (max-width:1500px) {
    .modal-body-video {
        width: 97%;
    }
    .modal-body-video .modal-grid .modal-grid-items:nth-child(2) {
        overflow: auto !important;
        height: 500px;
        overflow-x: hidden !important;
    }

}
.modal-body-video{
    .next-button-alignment {
        z-index: 99999;
    }
}


.box-grid-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-style {
        position: relative;
        p {
            color: #fff;
            text-align: center;
            font-size: 14px;
        }
        h2 {
            text-align: center;
            font-size: 22px;
            color: #fff;
            font-weight: 600;
        }
    }
}
.box-grid-items:hover .box-grid-black {
    transform: translateY(0%);
}
.modal-grid .modal-grid-items .modal-main-img {
    @include breakpoint("max-sm") {
        height: 280px;
    }
}
.mobile-view-close {
    @include breakpoint("max-sm") {
        right: 0;
        z-index: 99999999;
    }
}
.modal-grid .modal-grid-items .modal-main-img video {
    @include breakpoint("max-sm") {
        height: 280px;
    }
}

.image-no-show-class {
    display: none !important;
}

.text-modal-grid {
    // height: 600px;
    background-color: #fff;
    position: relative;
    padding: 50px;
    @include breakpoint("max-sm") {
        padding: 30px 15px;
    }
}
.text-modal-width {
    width: 100%;
    @include breakpoint("max-sm") {
        width: auto;
    }
}
.text-logo-center {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    @include breakpoint("max-sm") {
        margin-bottom: 40px;
    }
    img {
        width: 300px;
        @include breakpoint("max-sm") {
            width: 150px;
        }
    }
}
.text-modal-body {
    margin-top: 3rem;
    @include breakpoint("max-sm") {
        margin-top: 2rem;
    }
    p {
        @include text-md;
        color: #593561;
        text-align: center;
        margin-bottom: 1.85rem;
        @include breakpoint("max-sm") {
            @include text;
        }
    }
}

.mobile-view-close1 {
    position: fixed;
    right: 40px;
    font-weight: bold;
    margin-top: 5px;
    z-index: 99999999;
    cursor: pointer;
    @include breakpoint("max-sm") {
        right: 0;
        margin-top: -1.25rem;
    }
}

@media (min-width:768px) and (max-width:1440px) {
    .modal-body {
        height: 550px;
    }
    .modal-grid .modal-grid-items .modal-main-img {
        height: 550px;
    }
    .modal-grid .modal-grid-items .modal-main-img img {
        height: 550px;
    }
}


.storycenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sparkle-img-center {
    img {
        width: 350px;
    }
}
@include breakpoint("max-sm") {
    .sparkle-story-banner .grid {
        width: 100%;
    }
}